<html>
	<head>

	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/style.css">
	<link rel="shortcut icon" href="static/smiley.jpg"/>
	</head>

   	<body>
	   	<center><img src="/static/wel2.png"><br>
	   	<img src="/static/smiles.jpg" width="200" height="128"> <h1 style="font-size:60px; color:blue;text-shadow: 2px 2px red;">Smile Detector</h1>
	   	
	      
	      <div class="type-1">


	  <div>
	    <a href="/upload" class="btn btn-2">
	      <span class="txt">Upload image</span>
	      <span class="round"><i class="fa fa-chevron-right"></i></span>
	    </a>
	  </div>
	  
	    <div>
	    <a href="/pic" class="btn btn-1">
	      <span class="txt">Take image</span>
	      <span class="round"><i class="fa fa-chevron-right"></i></span>
	    </a>
	  </div>

	</div>
	<h1 style="font-size:30px; color:red;text-shadow: 2px 2px yellow;">Follow :
	<a href="https://in.linkedin.com/in/adithya-yelloju-653404133/" ><img src="/static/linkedin.png" width="30" height="30"></a>
	<a href="https://github.com/AdithyaYelloju" ><img src="/static/github.png" width="30" height="30"></a>
	<a href="https://twitter.com/AdithyaYelloju" ><img src="/static/twitter.png" width="30" height="30"></a>
	</h1> 
	  
	      </center>
	</body>
</html>
