<html>
	<head>

	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/static/style.css">
	
	<style>
	input[type="submit"]{
    	color: #fff;
    	background-color: #00AFD1;
   	 border-radius: 10px;
   	 width: 10%;
  	height: 38px;
  	 font-size: 20px;
	 line-height: 1.45;
	}
	
	.upload-btn-wrapper input[type=file] {
	  font-size: 100px;
	  position: absolute;
	  left: 0;
	  top: 0;
	  opacity: 0;
	}
</style>
	</head>

   	<body>
	   	<h1 style="font-size:40px; color:blue;text-shadow: 2px 2px red;"> You result</h1>
	   	 <img src="/static/smile.gif" width="200" height="200">
<br><br><br><br><br>
	   	<img src="/static/tq.png" width="400" height="200">
	   	<a href="/"> <img src="/static/home.png" width="200" height="200"> </a>
	      
	      
	
	  
	      </center>
	</body>
</html>
